* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  color: black;
}

body {
  background: white;
  font-family: "Times New Roman", Times, serif;
}

header {
  border-bottom: solid;
}
button {
  color: white;
  background-color: #9d5bff;
  border-radius: 8px;
  border-color: #9d5bff;
}
aside {
  border-right: solid;
  border-color: #3f3d56;
  margin-right: 85%;
  background-color: #d9d9d9;
}
#main {
  position: relative;
}
main {
  position: absolute;
  left: auto;
  top: auto;
}
footer {
  background-color: #3f3d56;
  border-top: solid;
  border-color: #3f3d56;
  color: rgb(206, 206, 206);
}
