/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: var(--color-s);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

header {
  border-bottom: solid var(--color-secondary);
}

body {
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-primary: rgb(255, 255, 255);
  --color-secondary: #3f3d54;
  --color-accent: #8b3dff;
}
nav {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--color-primary);
}

.school-name {
  color: var(--color-secondary);
  font-size: 35px;
  line-height: 70px;
  display: inline-block;
  margin-left: 35px;
}
.logo {
  font-size: 35px;
  margin-left: 50px;
}
.logo:hover {
  color: var(--color-accent);
  transition: ease-in-out 0.5s;
}

nav ul {
  float: right;
  margin-right: 20px;
}

.btn-nav {
  border-radius: 13px;
  background-color: var(--color-accent);
  padding: 10px 15px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.65) 0 3px 8px;
  position: absolute;
  top: 150%;
  left: 33%;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 25px;
}
nav ul li:last-child {
  margin-right: 100px;
  line-height: 0;
}

nav ul li a {
  color: var(--color-secondary);
  font-size: 17px;
}

nav ul li a:hover {
  color: var(--color-accent);
  transition: ease-in-out 0.5s;
}
aside {
  border-right: solid;
  border-color: var(--color-secondary);
  margin-right: 85%;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
#main {
  position: relative;
}
main {
  position: absolute;
  left: 40%;
  top: 5%;
}
footer {
  background-color: var(--color-secondary);
  border-top: solid;
  border-color: var(--color-secondary);
  color: var();
}

.footer-nav li {
  position: relative;
  text-align: center;
  right: 5%;
  padding: 25px;
  color: gray;
}
.footer-Kinder-nav {
  position: absolute;
  text-align: left;
  right: 35%;
  top: 81%;
  color: gray;

}
.footer-Erwachsene-nav {
  position: absolute;
  text-align: left;
  right: 20%;
  top: 81%;
  color: gray;
}

.bildunterschrift {
  position: absolute;
  right: 5%;
  text-align: center;
  font-size: 20px;
}

.preis{
  position: absolute;
  left: 30%;
  bottom: -46%;
  font-size: 15px;
}

.bilderimfoot{
  position: absolute;
  left: 10%;
  top: 80%;
}